.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}

.header {
  position: absolute;
  width: 1920px;
  height: 56px;
  left: 0px;
  top: 0px;

  background: #010420;
}
.headerbutton {
  position: absolute;
  width: 174px;
  height: 40px;
  left: 4px;
  top: 0px;

  font-family: Rufina;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.Search {
  position: absolute;
  resize: none;
  width: 912px;
  height: 35px;
  left: 521px;
  top: 13px;

  background: #FFFFFF;
}

.SearchButton {
  position: absolute;
  width: 40px;
  height: 35px;
  left: 1433px;
  top: 13px;
  border-radius: 2px;

  background: #EAA449;
}

.cart {
  position: absolute;
  width: 55px;
  height: 25px;
  left: 15px;

  font-family: Rufina;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.cartDiv {
  position: absolute;
  width: 70px;
  height: 30px;
  left: 1556px;
  top: 13px;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.signUp {
  position: absolute;
  width: 60px;
  height: 25px;
  left: 5px;

  font-family: Rufina;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.signUpDiv {
  position: absolute;
  width: 70px;
  height: 30px;
  left: 1752px;
  top: 13px;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.menuButton {
  position: absolute;
  width: 200px;
  height: 35px;
  left: 320px;
  top: 13px;

  font-family: Rufina;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}